<div *ngIf="selectedMovie" class="row">
    <div class="col-sm-12">
        <img class="card-img-top" src="{{imgBaseUrl}}{{selectedMovie.poster_path}}" alt="">
        <div class="card-body">
            <h4 class="card-title">{{selectedMovie.title}}</h4>
            <p class="card-text">{{selectedMovie.overview}}</p>
            <div d-flex>
                <ul *ngFor="let credits of selectedMovieCredits">
                    <li>{{credits.name | slice:0:5}}</li>
                </ul>
            </div>
            <button (click)="goBack()" class="btn btn-primary">Go Back</button>
        </div>
    </div>
</div>